<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
	<title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
	<meta charset="UTF-8" />
	<meta name="description" content="the sykstem clothing boutique">
	<meta name="keywords" content="online shopping, brick-and-mortar, clothing boutique">
	<meta name="author" content="the sykstem">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- Snipcart -->
	<link rel="preconnect" href="https://app.snipcart.com" />
	<link rel="preconnect" href="https://cdn.snipcart.com" />
	<!-- 
	
	<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.4.0/default/snipcart.css" /> -->

<!-- Vue -->
	<!-- <script src="https://unpkg.com/vue@3"></script> -->

<!-- Bulma Stylesheet -->
	<link rel="stylesheet" href="/css/bulma.min.css">
	
	{{ if .IsHome }}
	<!-- <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
	{{ end }}
	
<!-- Snipcart  -->
	{{- $snipcart_css := resources.Get "sass/snipcart.css" | resources.PostCSS (dict "config" "./assets/js/postcss.config.js") | minify | resources.PostProcess }}
	<link href="{{ $snipcart_css.Permalink }}" rel="stylesheet">

<!-- Font Awesome  -->
	<link href="/fontawesome/free/css/fontawesome.min.css" rel="stylesheet">
	<link href="/fontawesome/free/css/brands.min.css" rel="stylesheet">
	<link href="/fontawesome/free/css/solid.min.css" rel="stylesheet">
	
	<!--SCSS converted to CSS for website-->
	{{- $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "sass/main.scss" . | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | resources.PostCSS (dict "config" "./assets/js/postcss.config.js") | minify | resources.PostProcess }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	
	
  </head>
  
</html>
