{{ define "main" }}

<body>
	<section class="section is-medium">
		<div class="container content">
			<div class="columns is-multiline is-variable is-6 ">
				<div class="column is-12-mobile is-4-tablet is-4-desktop mb-5 is-size-6-mobile is-size-5-tablet is-size-4-desktop">
					<h1>{{ .Title }}</h1>
					<p>{{ .Params.Subtitle }}</p>
				</div>

				<div class="column is-12-mobile is-8-tablet is-8-desktop">
					<div class="columns is-multiline">
						
						<div class="column is-12-mobile is-12-tablet">
							<div class="tile is-ancestor">
								<div class="tile is-parent">
									<div class="box tile is-child is-privacy">
										<div class="is-size-7-mobile is-size-6-tablet is-size-6-desktop">
											<p class="is-size-7-mobile is-size-7-tablet p-0">last modified on {{ .Lastmod | time.Format ":date_full" }}</p>
											<hr>

											{{ .Content }}
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
</body>
{{ end }}