
{{ define "main" }}
{{ $herobackground := resources.Get "image/sign-up-hero.jpg" }}
{{ $resized_herobackground := $herobackground.Resize "2000x q75" }}

<body class="">	
{{ partial "navbar" . }}
<section class="wrapper-hero">
<img class="background-cover" src="{{ $resized_herobackground.Permalink }}" alt="">
	<div class="section is-medium">
		<div class="container content">
	
			<div class="section-header mb-6 is-size-6-mobile is-size-5-tablet is-size-4-desktop">
				<h1>{{ .Title }}</h1>
			
			</div>
			
			{{ range sort (where .Site.Pages.ByWeight "Section" "sign-up") }}
				<div class="sign-up box is-flex is-flex-direction-column">
					<fieldset disabled>
						<div class="field">
							<label class="label" for="">
								username <label class="has-text-danger">*</label>
							</label>
							<div class="control">
								<input class="input" type="text" name="" value="testusername1234" placeholder="a unique username">
							</div>
							<p class="help">this username is available</p>
						</div>
						<div class="field mb-4">
							<label class="label" for="">
								email <label class="has-text-danger">*</label>
							</label>
							<div class="control has-icons-left">
								<input class="input" type="email" name="" value="thisisnotarealemail@fake.com" placeholder="your email">
								<span class="icon is-small is-left">
									<span class="fa-solid fa-envelope"></span>
								</span>
							</div>
							<p class="help">this email is available</p>
						</div>
						<div class="field mb-4">
							<label class="label" for="">
								password <label class="has-text-danger">*</label>
							</label>
							<div class="control has-icons-left">
								<input class="input" type="password" name="" value="worldsgreatestpassword" placeholder="8+ characters required">
								<span class="icon is-small is-left">
									<span class="fa-solid fa-lock"></span>
								</span>
							</div>
							<p class="help is-danger">a strong password is recommended</p>
						</div>
					</fieldset>
					<div class="field mb-5">
						<label class="checkbox" for="accept-terms">
							<input type="checkbox" name="" value="" id="accept-terms">
							I agree to the <a href="/terms/">terms and conditions</a>
						</label>
					</div>
					<div class="field">
						<div class="control">
							<a class="button is-blue-back is-fullwidth" href="">
								<span>create account</span>
							</a>
						</div>
					</div>
					{{ .Content }}
				</div>
		{{ end }}
		</div>
	</div>
</section>
{{ partial "footer" . }}
</body>
{{ end }}