{{ define "main" }}
{{ partial "navbar" . }}

<body onpageshow="loadLovedProducts()" class="is-almost-white-back">
	<section id="{{ .File.ContentBaseName }}" class="section is-small grid-product-container">
		<div class="container">
			<div class="columns is-size-6-mobile is-size-5-tablet is-size-4-desktop">
				<div class="column is-offset-1 is-full">
					{{ partial "breadcrumbs" . }}
				</div>
			</div>
			<div class="content columns is-variable is-4 is-justify-content-center is-size-6-mobile is-size-5-tablet is-size-5-desktop">
				<div class="column is-full-mobile is-half-tablet is-half-desktop">
					
					{{ $article := .Resources.GetMatch "**.png" }}
					{{ $article_zoomed_resized := $article.Resize "1000x webp center q90" }}
					{{ $main_alt := .Params.main_alt }}
					{{ .Scratch.Set "alt" $main_alt }}
					{{ $more_photos := .Resources.ByType "image" }}
					{{ $resized_main := $article.Resize "700x webp center q70" }}
					{{ .Scratch.Set "resized_main" $resized_main }}
					<div class="product-on-page box">
						<input type="radio" id="{{ .RelPermalink }}" name="gallery" autocomplete="off" class="gallery__selector" checked />
						<figure class="gallery__img active-image">
							<img style="opacity: 1" class="image-normal lazyload" data-src="{{ $resized_main.Permalink }}" src="{{ $resized_main.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
							<noscript>
								<img style="opacity: 1" class="image-normal" src="{{ $resized_main.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
							</noscript>
							<img style="opacity: 0; z-index: -1; left: 0; top: 0" class="image-zoomed lazyload" data-src="{{ $article_zoomed_resized.Permalink }}" src="{{ $article_zoomed_resized.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
						</figure>
						{{ range $more_photos }}
						{{ $resized := .Resize "700x webp center q70" }}
						<input type="radio" id="{{ .RelPermalink }}" name="gallery" autocomplete="off" class="gallery__selector" />
						<figure class="gallery__img">
							<img style="opacity: 1" class="image-normal lazyload" data-src="{{ $resized.Permalink }}" src="{{ $resized.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
							<noscript>
								<img style="opacity: 1" class="image-normal" src="{{ $resized.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
							</noscript>
							<img style="opacity: 0; z-index: -1; left: 0; top: 0" class="image-zoomed lazyload" data-src="{{ $resized.Permalink }}" src="{{ $resized.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
						</figure>
						{{ end }}
					</div>
					{{ partial "gallery-nav" . }}
				</div>
				<div class="column is-full-mobile is-half-tablet is-one-third-desktop">
					{{ partial "type-love-button" . }}
					{{ partial "product-title" . }}
					<p class="mb-7">{{ .Params.description }}</p>
					{{ partial "price" . }}
					<hr>
					{{ partial "colors" . }}
					<form class="mb-5">
						{{ partial "sizes" . }}
						{{ partial "stock" . }}
					</form>
					<!-- <div class="mb-5">
						<h6>description:</h6>
						
					</div> -->
					{{ partial "fabriccare" . }}
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer" . }}

</body>
{{ end }}