<!DOCTYPE html>
<html>

<head>
	<title>Templates</title>
</head>

<body>
	{{ $color := item.customFields[1]['value'] }}
	{{ $permalink := item.customFields[4]['value'] }}

	<div id="snipcart-templates">

		<!-- Loading Screen -->
		<loading-screen>
			<div>
				<component :is="tag">
					<slot v-if="!loading"></slot>
					<div name="loading-screen" v-else>
						<div class="snipcart__loading__screen">
							<div :class="[
									'snipcart__loading__screen__content',
									displaySpinner ? 'is-visible' : null,
								]">
								<icon class="is-flex icon fa-solid fa-circle-notch fa-4x"></icon>
								<span class="snipcart__loading__screen__content__message ">
									<h4>{{ localizedLoadingMessage }}</h4>
								</span>
							</div>
						</div>
					</div>
				</component>
			</div>
		</loading-screen>

		<!-- Loading Overlay -->


		<!-- Register Form -->


		<!-- Signin Form -->
		<signin-form>
			
				<authentication-view>
					<div>
					<overridable name="signin">
						<div><div class="snipcart__box snipcart-signin snipcart-signin__box">
							<h2 class="snipcart__font--subtitle snipcart-signin__title">{{ $localize('WAZZ')}}</h2>
							<p class="snipcart__font snipcart-signin__register">
								{{ $localize('signin_form.dont_have_an_account')}}
								<router-link class="snipcart__font--black snipcart-signin__register-link" to="register">
									{{ $localize('register_form.register')}}
								</router-link>
							</p>

							<snipcart-form @submit="save" class="snipcart-signin__form">

								<snipcart-form-error></snipcart-form-error>

								<overridable name="signin" section="top"></overridable>

								<div class="snipcart-form__field">
									<snipcart-label for="email">{{ $localize('signin_form.email')}}</snipcart-label>
									<snipcart-input name="email" type="email" icon="user"></snipcart-input>
								</div>

								<div class="snipcart-form__field">
									<snipcart-label for="password">{{ $localize('signin_form.password')}}</snipcart-label>
									<snipcart-password name="password" icon="password"></snipcart-password>
									<router-link to="forgot-password" class="snipcart-signin__forgot-password snipcart__font--black">{{ $localize('signin_form.forgot_your_password') }}</router-link>
								</div>

								<overridable name="signin" section="bottom"></overridable>

								<snipcart-submit label="signin_form.signin" icon="continue-arrow"></snipcart-submit>
							</snipcart-form>
						</div></div>
					</overridable>
						</div>
				</authentication-view>
		
		</signin-form>

		<!-- Account -->


		<!-- Shipping -->
		<shipping-completed context="completed">
			<div class="snipcart__box snipcart-shipping-completed">
				<div class="snipcart-shipping-completed__header snipcart__box--header">
					<div class="snipcart__box--title">
						<div class="snipcart__box--badge snipcart__font--bold snipcart__font--secondary" v-if="checkout">
							<span class="icon">
								<span class="fa-solid fa-check"></span>
							</span>
						</div>
						<h1 class="snipcart-shipping-completed__title snipcart__font--subtitle">
							<icon name="box" class="snipcart__icon--left" v-if="!checkout"></icon>
							{{ $localize('shipping.title') }}
						</h1>
					</div>
					<button-link v-if="checkout" label="actions.edit" @click="edit"></button-link>
				</div>

				<div class="snipcart-checkout-step__cols snipcart__font--std">
					<div class="snipcart-checkout-step__col">
						<div class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
							<span class="icon">
								<span class="fa-solid fa-location-dot"></span>
							</span>
						</div>
						<div class="snipcart__address__display">
							<h3 class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">{{ $localize('shipping.address') }}</h3>
							<span class="snipcart-shipping-completed__information snipcart__font--std">{{ cart.shippingAddress | fullAddress }}</span>
						</div>
					</div>

					<div class="snipcart-checkout-step__col">
						<div class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
							<span class="icon">
								<span class="fa-solid fa-box"></span>
							</span>
						</div>
						<div>
							<h3 class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">{{ $localize('shipping.method') }}</h3>
							<span class="snipcart-shipping-completed__information">{{ methodName }}</span>
						</div>
					</div>
				</div>
			</div>
		</shipping-completed>



		<shipping-completed>
			<div class="snipcart__box snipcart-shipping-completed">
				<div class="snipcart-shipping-completed__header snipcart__box--header">
					<div class="snipcart__box--title">
						<div class="snipcart__box--badge snipcart__font--bold snipcart__font--secondary" v-if="checkout">
							<span class="icon">
								<span class="fa-solid fa-check"></span>
							</span>
						</div>
						<h1 class="snipcart-shipping-completed__title snipcart__font--subtitle">
							<span class="icon" v-if="!checkout">
								<span class="fa-solid fa-box"></span>
							</span>
							{{ $localize('shipping.title') }}
						</h1>
					</div>
					<button-link v-if="checkout" label="actions.edit" @click="edit"></button-link>
				</div>

				<div class="snipcart-checkout-step__cols snipcart__font--std">
					<div class="snipcart-checkout-step__col">
						<div class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
							<span class="icon">
								<span class="fa-solid fa-location-dot"></span>
							</span>
						</div>
						<div class="snipcart__address__display">
							<h3 class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">{{ $localize('shipping.address') }}</h3>
							<span class="snipcart-shipping-completed__information snipcart__font--std">{{ cart.shippingAddress | fullAddress }}</span>
						</div>
					</div>

					<div class="snipcart-checkout-step__col">
						<div class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
							<span class="icon">
								<span class="fa-solid fa-box"></span>
							</span>
						</div>
						<div>
							<h3 class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">{{ $localize('shipping.method') }}</h3>
							<span class="snipcart-shipping-completed__information">{{ methodName }}</span>
						</div>
					</div>
				</div>
			</div>
		</shipping-completed>

		<!-- Empty Cart -->
		<empty-cart>
			<section class="snipcart-empty-cart content">
				<div class="is-flex p-6 snipcart-empty-cart__title snipcart__font--secondary">
					<h6>{{ $localize(`you've got an empty bag, but that's okay.`) }}</h6>
				</div>
				<button-secondary isFitContent="true" class="fit-content-w" @click="$actions.goBack">
					<span class="icon-text is-inline-flex is-align-items-center">
						<span class="icon">
							<span class="fa-solid fa-arrow-left-long"></span>
						</span>
						<span>{{ $localize(`back to our store`) }}</span>
					</span>
				</button-secondary>
			</section>
		</empty-cart>

		<!-- Cart Layout -->


		<!-- Cart Header -->
		<cart-header>
			<div>
				<header class="snipcart-cart-header container is-mobile" v-if="!loading">
					<close-cart-action class="column pl-0 is-1-mobile is-4-tablet is-4-desktop has-text-left snipcart-cart-header__close-button snipcart-modal__close">
						<span class="icon ">
							<span class="fa-solid fa-arrow-left-long"></span>
						</span>
						<span class="snipcart-modal__close-title snipcart__font--std">
							{{ backButtonTitle || $localize('back to browsing') }}
						</span>
					</close-cart-action>

					<media class="column is-flex is-flex-direction-column is-align-items-center is-justify-content-center pt-0 pb-0 is-3-mobile is-4-desktop" name="mobile, tablet, large" v-if="title">

						<figure class="image is-48x64 m-0 is-flex is-flex-direction-column is-align-items-center is-justify-content-center">

							<a class="is-flex" href="/">

								<img id="res-cart-logo" class="logo" src="/image/logo.svg" alt="">
							</a>
						</figure>

					</media>

					<div class="column is-flex is-8-mobile snipcart-cart-header__options">
						<sign-in-action tag="a" href="#/dashboard" class="snipcart-cart-header__option snipcart-cart-header__sign-in" v-if="showAccountMenu">
							<span class="icon-text is-inline-flex is-align-items-center">
								<span>{{ $localize('signin_form.signin').toLowerCase()}}</span>
							</span>
						</sign-in-action>

						<sign-out-action class="snipcart-cart-header__option snipcart-cart-header__sign-out" v-if="showAccountMenu">
							<span class="icon">
								<span class="fa-solid fa-arrow-right-from-bracket"></span>
							</span>
							{{ $localize('customer_dashboard.sign_out').toLowerCase()}}
						</sign-out-action>

						<customer-account-link tag="a" href="#/dashboard" class="snipcart-cart-header__option snipcart-cart-header__customer-account" v-if="showAccountMenu && showAccountLink">
							<span class="icon">
								<span class="fa-solid fa-user"></span>
							</span>
							{{ $localize('customer_dashboard.my_account').toLowerCase() }}
						</customer-account-link>

						<show-detailed-cart-action class="snipcart-cart-header__option snipcart-cart-header__count snipcart__font--secondary snipcart__font--bold" v-if="showItemsCount">
							<span class="icon-text is-inline-flex is-align-items-center">
								<span class="icon">
									<span class="fa-solid fa-bag-shopping"></span>
								</span>
								<span>
									<template v-if="!hasSubscription">
										{{ itemsCount }}
									</template>
								</span>
							</span>
						</show-detailed-cart-action>
					</div>

					<media name="mobile, tablet" class="snipcart-modal__header-summary" v-if="showSummary && !loading">
						<div class="snipcart-modal__header-summary-title snipcart__font--large snipcart__font--secondary snipcart__font--bold" @click.prevent="toggleSummary">
							<span class="bag-total-dropdown icon-text is-inline-flex is-align-items-center">
								<span class="icon">
									<span class="fa-solid fa-user"></span>
								</span>
								<span>{{ cart.total | money(cart.currency) }}</span>
							</span>
							<icon :name="summaryIcon" class="snipcart-cart-header__icon snipcart__icon--medium"></icon>
						</div>

						<cart-summary class="snipcart-cart-summary--small" v-if="summaryVisible" @close="closeSummary">
						</cart-summary>
					</media>
				</header>
				<header class="snipcart-cart-header" v-else>
					<close-cart-action class="snipcart-modal__close">
						<span class="icon-text is-inline-flex is-align-items-center">
							<span class="icon">
								<span class="fa-solid fa-arrow-left"></span>
							</span>
							<span>{{ $localize('actions.continue_shopping') }}</span>
						</span>
					</close-cart-action>
				</header>
			</div>
		</cart-header>

		<!-- Cart Summary -->
		<cart-summary>
			<div>
				<div name="cart-summary">
					<div class="snipcart-cart-summary">
						<section class="snipcart-cart-summary__content content">
							<div class="snipcart-cart-summary__actions snipcart__box--header">
								<span>
									<h4 class="mb-0 snipcart-cart-summary__title">
										{{ $localize('your order') }}
									</h4>
								</span>
								<button-link class="button is-small justify-self-flex-end" label="actions.edit" @click="openSideCart">
								</button-link>
							</div>

							<overridable name="cart-summary" section="items">
								<cart-summary-items-list class="snipcart-cart-summary__items ml-0"></cart-summary-items-list>
							</overridable>

							<hr class="snipcart-cart-summary__separator" />

							<loading-overlay>
								<div class="snipcart-cart-summary__totals">
									<summary-fees :summary-data="summaryFeesProvider"></summary-fees>
								</div>
							</loading-overlay>
						</section>

						<footer class="snipcart-cart-summary__footer">
							<featured-payment-methods class="snipcart-featured-payment-methods--no-background is-size-7"></featured-payment-methods>
						</footer>
					</div>
				</div>

				<transition name="snipcart-cart-summary__overlay-transition">
					<div class="snipcart-cart-summary__overlay" v-if="editing"></div>
				</transition>

				<transition name="snipcart-transition--slide-in">
					<cart :editing-cart="true" class="snipcart-cart-summary--edit" v-if="editing || isSideCart" :is-side-cart="isSideCart"></cart>
				</transition>
			</div>
		</cart-summary>

		<!-- Item Line New -->
		<item-line>
			<li class="box" :class="{'snipcart-item-line': true, 'snipcart-item-line--cart-edit': editingCart}">
				<flash-message class="is-justify-content-center" v-if="stockLimitReached">
					<span>{{ $localize('errors.quantity_revised') }}</span>

				</flash-message>
				<flash-message type="error" icon="box" v-if="outOfStock" :title="$localize('errors.quantity_out_of_stock')"></flash-message>
				<div class="snipcart-item-line__container">
					<figure class="snipcart-item-line__media" v-if="showLargeImage">
						<item-image class="snipcart-item-line__image"></item-image>
					</figure>
					<div class="snipcart-item-line__product">
						<div class="snipcart-item-line__header">
							<div class="columns is-mobile m-0 is-variable is-1">

								<figure class="column is-3 snipcart-item-line__media snipcart-item-line__media--small" v-if="showSmallImage">
									<a :href="item.customFields[3]['value']">
										<item-image class="snipcart-item-line__image--large"></item-image>
									</a>
								</figure>

								<div class="column is-9 is-flex is-flex-direction-column content mr-auto">
									<h6 class="mb-2">{{ item.customFields[2]['value'] }}</h6>
									<a class="fit-content-w" :href="item.customFields[3]['value']">
										<h2 class="is-size-5-mobile is-size-4-tablet is-size-4-desktop mt-0 mb-2 snipcart-item-line__title ">
											{{ item.name }}
										</h2>
									</a>
									<span class="fit-content-w mb-2">
										<span class="icon is-medium">
											<span class="fa-solid fa-circle" :class="'icon-' + item.customFields[1]['displayValue']"></span>
										</span>
										{{ item.customFields[1]['value'] }}
									</span>
								</div>
							</div>

							<button-icon icon="trash" label="item.remove_item" styling="danger" @click="removeItem">
								<span class="icon">
									<span class="fa-solid fa-trash"></span>
								</span>
							</button-icon>
						</div>

						<div class="snipcart-item-line__content">
							<div class="snipcart-item-line__body">
								<div class="snipcart-item-line__info">
									<item-description v-if="showDescription"></item-description>
								</div>
								<div class="snipcart-item-line__variants">
									<div>
										<item-plans :item="item" v-if="!adding && isSubscribable"></item-plans>
										<item-custom-fields v-if="!adding"></item-custom-fields>
									</div>
									<item-quantity class="snipcart-item-line__quantity" v-if="!adding && !isSubscribable" :disabled="outOfStock || isSubscribable"></item-quantity>
									<div class="snipcart-form__field snipcart-form__field--plan snipcart-form__field--plan--billed-on" v-if="isSubscribable && !adding">
										<span class="snipcart-form__label snipcart__font--tiny">
											{{$localize('subscription.payment_amount')}}
										</span>
										<div class="snipcart-form__field--plan__readonly">
											<item-price :item="item" :selected-plan="selectedPlan">
											</item-price>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</item-line>

		<!-- Billing -->


		<!-- Address Fields -->


		<!-- Billing Complete -->
		<billing-completed>
			<transition name="snipcart-billing-completed__slide-transition">
				<div name="billing-completed" :class="cssClasses">
					<div class="snipcart__box snipcart-billing-completed">
						<div class="snipcart-billing-completed__header snipcart__box--header">
							<div class="snipcart__box--title">
								<div class="snipcart__box--badge snipcart__font--bold snipcart__font--secondary" v-if="checkout">
									<span class="icon">
										<span class="fa-solid fa-check"></span>
									</span>
								</div>
								<h1 class="snipcart-billing-completed__title snipcart__font--subtitle">
									<!-- <span class="icon">
											<icon name="user" class="fa-solid fa-user" v-if="!checkout">
											
											</icon>
										</span> -->
									{{ $localize('billing.title').toLowerCase() }}
								</h1>
							</div>

							<button-link v-if="checkout" label="actions.edit" @click="edit"></button-link>
						</div>

						<div class="snipcart-checkout-step__cols snipcart__font--std">
							<div class="snipcart-checkout-step__col">
								<div class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
									<span class="icon">
										<span class="fa-solid fa-user"></span>
									</span>
								</div>
								<div>
									<h3 class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">{{ $localize('customer.information') }}</h3>
									<span class="snipcart-billing-completed__information snipcart__font--std">{{ cart.billingAddress.name }}<br />{{ cart.email }}</span>
								</div>
							</div>

							<div class="snipcart-checkout-step__col">
								<div class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
									<span class="icon">
										<span class="fa-solid fa-location-dot"></span>
									</span>
								</div>
								<div>
									<h3 class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">{{ $localize('billing.address') }}</h3>
									<span class="snipcart-billing-completed__information snipcart__font--std">{{ cart.billingAddress | fullAddress }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</billing-completed>

		<!-- Payment -->


		<!-- Cart -->
		<cart-header name="cart" section="header">
			<cart-header title="bag summary" :show-items-count="true" :show-account-menu="true" v-if="!editingCart"></cart-header>
		</cart-header>


		<!-- Edit Customer Address -->
		<edit-customer-billing-address>
			<div>
				<div class="snipcart-edit-customer-address__box">
					<button @click="$actions.goToDashboard" class="snipcart-modal__close snipcart-orders-link">
						<span class="icon">
							<span class="fa-solid fa-arrow-left-long"></span>
						</span>
						<span class="snipcart__font--std snipcart-modal__close-label">
							{{  $localize('actions.back_to_orders') }}
						</span>
					</button>

					<overridable name="edit-address">

						<div class="snipcart__box">

							<div class="snipcart__box--title">
								<h1 v-if="addressType === 'billing'" class="snipcart-edit-customer-address__title snipcart__font--subtitle">
									{{ $localize('billing.address') }}
								</h1>
								<h1 v-if="addressType === 'shipping'" class="snipcart-edit-customer-address__title snipcart__font--subtitle">
									{{ $localize('shipping.address') }}
								</h1>
							</div>

							<snipcart-form @submit="save" class="snipcart-edit-customer-address__form">

								<snipcart-form-error></snipcart-form-error>

								<fieldset class="snipcart-form__set">
									<div class="snipcart-form__field">
										<snipcart-label class="snipcart__font--tiny" for="name">
											{{ $localize('address_form.name') }}
										</snipcart-label>

										<snipcart-input name="name"></snipcart-input>
										<snipcart-field-error name="name"></snipcart-field-error>
									</div>
								</fieldset>
								<address-fields :type="addressType" :initial-address="initialAddress"></address-fields>

								<overridable name="edit-address" section="bottom"></overridable>

								<snipcart-submit label="actions.save_changes" icon="continue-arrow"></snipcart-submit>
							</snipcart-form>
						</div>
					</overridable>
				</div>
			</div>
		</edit-customer-billing-address>


		<!-- Customer Details -->
		<customer-details>
			<div class="snipcart-customer-details snipcart__box">
				<!-- Header -->
				<div class="snipcart-customer-details__header snipcart__box--header">
					<div class="snipcart__box--title">
						<h1 class="snipcart-customer-details__title snipcart__font--subtitle">
							{{ $localize('customer_details.title') }}
						</h1>
					</div>
				</div>

				<!-- Basic infos -->
				<div class="snipcart-customer-details__infos snipcart__font--std">
					{{ customer.billingAddress.name  }}
					<br v-if="customer.billingAddress.name" />
					{{ customer.email }}
				</div>

				<!-- Billing address -->
				<customer-details-group v-if="customer.billingAddress.hasMinimalRequiredInfo" icon-name="" :title="$localize('billing.address')" :handle-action-click="editBillingAddress" :action="billingAddressAction">
					<span class="icon-text">
						<span class="icon">
							<span class="fa-solid fa-location-dot"></span>
						</span>
						<address-formatted :address="customer.billingAddress"></address-formatted>
					</span>

				</customer-details-group>

				<!-- Shipping address -->
				<customer-details-group v-if="customer.shippingAddress && customer.shippingAddress.hasMinimalRequiredInfo" icon-name="" :title="$localize('shipping.address')" :handle-action-click="editShippingAddress" :action="shippingAddressAction">
					<span class="icon-text">
						<span class="icon">
							<span class="fa-solid fa-location-dot"></span>
						</span>
						<address-formatted :address="customer.shippingAddress"></address-formatted>
					</span>
				</customer-details-group>

				<!-- Password -->
				<customer-details-group iconName="lock" :title="$localize('signin_form.password')" :handle-action-click="editPassword" action="edit">
					<span class="icon">
						<span class="fa-solid fa-lock"></span>
					</span>
					•••••••••••••••••••
				</customer-details-group>

				<!-- Payment infos -->
				<payment-info v-if="isDisplayCustomerDetails" :customer-details="customerDetails"></payment-info>
			</div>
		</customer-details>



		<!-- Order Receipt -->


		<!-- Card Product -->
		<card-product itemKey="<string>" name="<string>" image="<string>" quantity="<number>" price="<number>" currency="<string>" fileGuid="<string>" url="<string>">
			<div class="snipcart-card-product">
				<div class="snipcart-card-product__container">
					<img v-if="image" :src="image" :alt="name" class="snipcart-card-product__image" />
					<div class="snipcart-card-product__infos">
						<div class="snipcart-card-product__name">{{ name }}</div>
						<div class="snipcart-card-product__price-ctn">
							<div class="snipcart-card-product__quantity">{{ quantity }}</div>
							<div class="snipcart-card-product__by">×</div>
							<div class="snipcart-card-product__price">{{ price | money(currency) }}</div>
						</div>
					</div>
				</div>
				<div v-if="fileGuid" class="snipcart-card-product__download">
					<button-icon icon="continue-arrow" label="digital_goods.download" :url="url"></button-icon>
				</div>
			</div>

		</card-product>

	</div>
</body>

</html>