<nav class="account-drawer">
	<div class="is-collapsible-account-drawer">
		<input type="checkbox" name="account-drawer" id="">
		<button class="button account-button is-fullwidth">
			<label class="account-label" for="account-drawer">
				<span class="icon-text is-inline-block">
					<span class="icon">
						<span class="fa-solid fa-user"></span>
					</span>
					<span><strong>account</strong></span>
				</span>
			</label>
		</button>
		<div class="account-container">
			<div class="account-controls">
				<input checked type="checkbox" name="shopping-bag" id="account-drawer">
				<label class="button box" for="account-drawer">
					<span class="icon">
						<span class="fa-solid fa-xmark"></span>
					</span>
				</label>
			</div>
			<div class="account-items box">
				<div class="columns account-columns content">
					<div class="column mt-6 is-flex is-flex-direction-column is-align-items-center">
						<a class="button fit-content-w is-large is-rounded mb-5 mr-0 p-5">
							<span class="icon is-medium">
								<span class="fa-solid fa-user fa-lg"></span>
							</span>
						</a>
						<div class="is-flex is-flex-direction-column is-align-items-center">
							<a class="snipcart-customer-signin">
								<h3>my account</h3>
							</a>
							<a href="/account/loved/">
								<h3>my love list</h3>
							</a>
						</div>
					</div>
					<!-- <div class="column is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
						<div class="is-collapsible full-width">
							<input type="radio" class="" name="" id="login-signup-dropdown">
							<label class="login-label button box mb-4 mt-4 mr-0 full-width is-medium" for="login-signup-dropdown">
								<span>log in</span>
							</label>
							<div class="tags">
								<div class="container is-medium is-flex is-flex-direction-column">
									<div class="field mb-3">
										<p class="control has-icons-left">
											<input class="input" type="email" name="username" placeholder="username">
											<span class="icon is-small is-left">
												<span class="fa-solid fa-envelope"></span>
											</span>
										</p>
									</div>
									<div class="field">
										<p class="control has-icons-left">
											<input class="input" type="password" name="password" placeholder="password">
											<span class="icon is-small is-left">
												<span class="fa-solid fa-lock"></span>
											</span>
										</p>

									</div>
									<div class="field is-grouped mb-4">
										<p class="help control is-expanded">
											forgot password?
										</p>
										<p class="control">
											<input type="submit" value="sign in" class="button box level-item is-small is-red">
										</p>
									</div>
								</div>
							</div>
						</div>
						<a id="sign-up-button" href="/sign-up/" class="snipcart-customer-signin button box sign-up-button is-fullwidth is-medium mr-0 mb-2">
							<span>sign up</span>
						</a>
					</div> -->

				</div>
			</div>
		</div>
	</div>
</nav>