{{/* {{ $variants := where .Site.RegularPages "Title" "=" $title }} */}}

{{ $page_range := .page_range }}

{{ $title := .product_title }}

<div class="buttons circle-color-buttons mb-0 mt-1">
	
	{{ range $page_range }}
		
		{{ $color := replace .Params.color "-fill" "" }}
		{{ $size_var := .Params.sizes }}
		
		{{- $stock_status := (partial "functions/get-stock-status" (dict "page_range" $page_range "product_title" .Title "product_sizes" .Params.sizes )) -}}
		
		{{ if eq .Title $title }}
			
			{{- $fix_stock_status := int (index (chomp (replace $stock_status "\t" "" )) 0 ) -}}

			{{ if eq ($fix_stock_status) 10 }}
			<a href="{{ .Permalink }}">
				<span class="icon is-medium">
					<span class="fa-solid fa-ban icon-{{ $color }} fa-2x" aria-hidden="true"></span>
				</span>
				<span class="sr-only">{{ $title }}, {{ $color }} variant</span>
			</a>
			{{ else }}
			<a href="{{ .Permalink }}">
				<span class="icon is-medium">
					<span class="fa-solid fa-circle icon-{{ $color }} fa-2x" aria-hidden="true"></span>
				</span>
				<span class="sr-only">{{ $title }}, {{ $color }} variant</span>
			</a>
			{{ end }}
		{{ end }}
	{{ end }}
</div>
