<h6>color:</h6>
<div class="buttons">
{{ $title := .Title }}

{{ if isset .Params "color" }}
	{{ $variants := where .Site.RegularPages "Title" "=" $title }}
	{{ $current_color := .Params.color }}
	{{ range $variants }}
		{{ if eq $current_color .Params.color }}
		<a href="{{ .Permalink }}" class="button is-focused is-static box {{ .Params.color }}">{{ .Params.color }}</a>
		{{ else }}
		<a href="{{ .Permalink }}" class="button box {{ .Params.color }}">{{ .Params.color }}</a>
		{{ end }}
	{{ end }}
{{ end }}
</div>
