<div class="buttons full-width safari-reverse-only">
	<div class="full-width safari-only">
		<button class="button box full-width is-apple-pay is-medium">
			<div class="apple-pay-button-with-text apple-pay-button-black-with-text">
				<span class="text">Buy with</span>
				<span class="logo"></span>
			</div>
		</button>
	</div>
	<div class="full-width mr-0">
		<button class="button box full-width is-medium mr-0">
			<span class="icon-text is-inline-block">
				<span class="icon">
					<span class="fa-solid fa-cart-shopping"></span>
				</span>
				<span>continue to checkout</span>
			</span>
		</button>
	</div>
</div>