{{ $feature := resources.Get .Site.Data.featured.image }}
{{ $resized_feature := $feature.Resize "800x q80" }}


{{ $feature2 := resources.Get .Site.Data.featured.image_2 }}
{{ $resized_feature2 := $feature2.Resize "800x q80" }}

{{ with .Site.Data.featured }}

<section id="featured" class="section is-medium">
	<a class="" href="{{ .link }}">
		<div class="columns is-vcentered is-flex-direction-row-reverse">
			<div class="column is-full-mobile is-4-tablet is-4-desktop is-size-6-mobile is-size-5-tablet is-size-4-desktop">
				<figure class="image left-hero-feature is-fullwidth">
					<img class="is-rounded lazyload" data-src="{{ $resized_feature2.Permalink }}" src="{{ $resized_feature2.Permalink }}" alt="{{ .alt_2 }}">
				</figure>
			</div>
			<div class="content p-6 column is-full-mobile is-4-tablet is-3-desktop is-size-6-mobile is-size-5-tablet is-size-4-desktop">
				<h1 class="mb-5">{{ .cta }}</h1>
				<button class="button fit-content-w box is-medium is-black" href="/sale">{{ .cta_button }}</button>
			</div>
			<div class="column is-full-mobile is-4-tablet is-5-desktop is-size-6-mobile is-size-5-tablet is-size-4-desktop">
				<figure class="image right-hero-feature is-fullwidth">
					<img class="is-rounded lazyload" data-src="{{ $resized_feature.Permalink }}" src="{{ $resized_feature.Permalink }}" alt="{{ .alt }}">
				</figure>
			</div>
		</div>
	</a>
</section>

{{ end }}