{{ with .Site.Data.footer }}

<body>
	<footer class="footer">
		<div class="container">
			<div class="mt-5 mb-5">
				<div class="columns content">
					<div class="column is-flex is-flex-direction-column">
						<h3>customer support</h3>
						<div>
							<a href="{{ .contact_us }}">contact us</a>
						</div>
						<div>
							<a href="{{ .exchanges_returns }}">exchange or return</a>
						</div>
					</div>
					<div class="column is-flex is-flex-direction-column">
						<h3>about us</h3>
						<div>
							<a href="{{ .mission }}">our mission</a>
						</div>
						<div>
							<a href="{{ .careers }}">careers</a>
						</div>
						<div>
							<a href="{{ .worker_resources }}">pro-worker resources</a>
						</div>
						<div>
							<a href="{{ .faq }}">faq</a>
						</div>
					</div>
					<div class="column is-flex is-flex-direction-column">
					</div>
				</div>
			</div>
			<div class="columns">
				<div class="column is-flex is-flex-direction-row is-justify-content-space-between">
					<div class="tags is-align-items-flex-start">
						{{ range .payment_icons }}
						<div class="payment-icon">
							<figure>
								{{ if .icon }}
								<img src="{{ .icon }}" alt="{{ .alt }}">
								{{ end }}
							</figure>
						</div>
						{{ end }}
					</div>
					<div class="content is-flex is-flex-direction-column has-text-right is-align-items-flex-end">
						<div>
							<a href="{{ .privacy_policy }}">privacy policy</a>
						</div>
						<div>
							<a href="{{ .tos }}">terms of service</a>
						</div>
						<p class="mb-0">{{ .copyright }}</p>
						<p>{{ .powered_by }}</p>
					</div>
				</div>
			</div>
		</div>


		<!-- Snipcart -->

		<!-- <script async src="https://cdn.snipcart.com/themes/v3.3.3/default/snipcart.js"></script> -->
		

	</footer>
	<script>
		function delay(milliseconds) {
			return new Promise(resolve => {
				setTimeout(resolve, milliseconds);
			});
		}
	
		document.addEventListener('snipcart.ready', () => {
			const bagCount = document.querySelector('#bag-count');
			const addToBag = document.querySelector('#add-to-bag');
			let isCustomerSignedIn = false;
	
			Snipcart.store.subscribe(() => {
				const customer = Snipcart.store.getState().customer;
				isCustomerSignedIn = customer.status === 'SignedIn';
			});
			Snipcart.events.on('snipcart.initialized', (snipcartState) => {
				if (bagCount.innerHTML == 0) {
					bagCount.hidden = true;
				} else {
					bagCount.hidden = false;
				}
			});
			Snipcart.events.on('item.removed', (cartItem) => {
				if (bagCount.innerHTML == 0) {
					bagCount.hidden = true;
				} else {
					bagCount.hidden = false;
				}
			});
			Snipcart.events.on('item.adding', (parsedCartItem) => {
				bagCount.hidden = false;
				addToBag.classList.add('is-loading');
			});
			Snipcart.events.on("item.added", (cartItem) => {
				bagCount.hidden = false;
				addToBag.classList.remove('is-loading');
				addToBag.innerHTML = "added to bag";
				setTimeout(() => (addToBag.innerHTML = "add to bag"), 2000);
			});
		});
	</script>
	<script src="/js/fuse.min.js" type="text/javascript" defer=""></script>
	<script src="/js/fastsearch.js" type="text/javascript" defer=""></script>
	<script src="/js/index.js" type="text/javascript"></script>
</body>
{{ end }}