<div id="sort-filter-products-container" class="level is-mobile">
	<div class="level-left">
		<div class="level-item">
			<div class="control has-icons-left">
				<div class="select is-normal">
					<select id="sort-products">
						<option value="default">sort</option>
						<option value="lowToHigh">low to high</option>
						<option value="highToLow">high to low</option>
					</select>
				</div>
				<span class="icon is-left">
					<span class="fa-solid fa-sort"></span>
				</span>
			</div>
		</div>
		<div class="level-item">
			<div class="dropdown is-hoverable is-right">
				<div class="dropdown-trigger filter-trigger">
					<button class="filter-button button" aria-haspopup="true" aria-controls="filter-dropdown">
						<span>filter</span>
						<span class="icon is-small">
							<span class="fa-solid fa-filter" aria-hidden="true"></span>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="filter-products" role="menu">
					<div class="dropdown-content">
						<div id="clear-filters-button" class="dropdown-item is-hidden">
							<button class="exit-filters no-style-button">
								<span class="icon">
									<span class="fa-solid fa-xmark"></span>
								</span>
							</button>
							<button class="button is-small">
								<span>reset filters</span>
								<span class="icon">
									<span class="fa fa-xmark"></span>
								</span>
							</button>
							<div class="ml-1 mt-4 content">
								<h6 class="result-count">results </h6>
							</div>
							<hr>
						</div>
						<div class="columns px-4">
							<div class="column is-collapsible">
								<input hidden type="checkbox" name="dropdown" id="dropdown-1">
								<label tabindex="0" for="dropdown-1" class="py-2">
									<span class="icon-text full-width is-justify-content-space-between">
										<div class="dropdown-item">
											color
										</div>

										<span class="icon mr-4">
											<span class="fa-solid fa-chevron-down"></span>
										</span>
									</span>
								</label>
								<div id="filter-colors">

									{{ partial "functions/get-page-range" . }}

									{{ range $.Scratch.Get "page_range" }}

									{{ $size_var := .Params.sizes }}
									{{ $color := .Params.color }}
									{{ $stock_exists := or (where (where $size_var "size" "eq" "adjustable") "stock" "gt" 0 )
						(or (where (where $size_var "size" "eq" "xxxs") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "xxs") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "xs") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "s") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "m") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "l") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "xl") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "xxl") "stock" "gt" 0 ) 
						(where (where $size_var "size" "eq" "xxxl") "stock" "gt" 0 ) ) }}

									{{ with $stock_exists }}
									{{ $.Scratch.Add "filter_colors" (slice $color) }}
									{{ end }}
									{{ end }}

									{{ range $.Scratch.Get "filter_colors" | uniq }}
									<div class="dropdown-item is-flex is-justify-content-space-between is-align-items-center">
										<label tabindex="0" class="checkbox full-width py-2">
											<span>
												<input class="filter-option-color" type="checkbox" value="{{ . }}">
												{{ . }}
											</span>
											<span class="icon is-medium">
												<span class="fa-solid fa-circle icon-{{ . }}"></span>
											</span>
										</label>

									</div>
									{{ end }}
								</div>
							</div>

							<div class="column is-collapsible">
								<input hidden type="checkbox" name="dropdown" id="dropdown-2">
								<label tabindex="0" for="dropdown-2" class="py-2">
									<span class="icon-text full-width is-justify-content-space-between">
										<div class="dropdown-item ">
											price
										</div>

										<span class="icon mr-4">
											<span class="fa-solid fa-chevron-down"></span>
										</span>
									</span>

								</label>
								<div id="filter-prices">
									{{ range .Site.Data.price_filters }}
									{{ $range_low_value := .low }}
									{{ $range_high_value := .high }}
									<div class="dropdown-item">
										<label class="checkbox py-2">
											<input class="filter-option-price" type="checkbox" value="{{ delimit (slice $range_low_value $range_high_value) "," }}">
											{{ .price_range }}
										</label>
									</div>
									{{ end }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>