{{ $size_var := .Params.sizes }}
{{ $color := .Params.color }}
{{ $counter := .Scratch.Get "counter" }}
{{ $title := .Title }}

{{ if or (where (where $size_var "size" "eq" "adjustable") "stock" "eq" 0 )
(and (where (where $size_var "size" "eq" "xxxs") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "xxs") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "xs") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "s") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "m") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "l") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "xl") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "xxl") "stock" "eq" 0 ) 
(where (where $size_var "size" "eq" "xxxl") "stock" "eq" 0 ) ) }}
	<a href="" alt="{{ $color }} variant">
		<span class="icon mb-4">
			<span class="fa-solid fa-ban icon-{{ $color }}"></span>
		</span>
	</a>
	<div class="buttons mb-1">
		<button disabled class="button is-small">out of stock</button>
	</div>
{{ else }}
	<div class="buttons circle-color-buttons mb-0 mt-4">
		<a href="{{ .Permalink }}" alt="{{ .Params.color }} variant">
			<span class="icon is-medium">
				<span class="fa-solid fa-circle icon-{{ replace .Params.color "-fill" "" }} fa-2x"></span>
			</span>
		</a>
	</div>
{{ end }}