<nav class="search-drawer">
	<div class="is-collapsable-search">
		<input type="checkbox" name="site-search" id="site-search">
		<label class="search-label" for="site-search">
			<a class="button">
				<span class="icon">
					<span class="fa-solid fa-search"></span>
				</span>
			</a>
		</label>
		<div class="search-container">
			<div class="account-controls">
				<input checked type="checkbox" name="site-search" id="site-search">
				<label class="button box" for="site-search">
					<span class="icon">
						<span class="fa-solid fa-xmark"></span>
					</span>
				</label>
			</div>
			<div class="search-items box">
				<div class="columns search-columns content">
					<div class="column is-flex is-flex-direction-column is-align-items-center">
						<h1 class="mb-5">popular searches</h1>
						{{ range first 4 .Site.Data.popular_searches }}
						<a href="/search={{ . }}/"><h4 class="lowercase">{{ . }}</h4></a>
						{{ end }}
					</div>
					<div class="column is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
						<div class="field has-addons">
							<p class="control is-expanded">
								<input class="input is-large" type="text" name="search-input" placeholder="search whatever">
								
							</p>
							<p class="control">
								<a class="button is-large">
									<span class="icon is-small is-right">
										<span class="fa-solid fa-search"></span>
									</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>