<nav class="search-drawer">
	<div class="is-collapsable-search">
		<input type="checkbox" name="site-search" id="site-search">
		<label class="search-label p-4" for="site-search">
			
				<span class="icon">
					<span class="fa-solid fa-search"></span>
				</span>
			
		</label>
		<div class="search-container">
			<div class="search-items box">
				<div class="columns is-flex content">
					<!-- <div class="column is-flex is-flex-direction-column is-align-items-center">
						<h1 class="mb-5">popular searches</h1>
						{{/* {{ range first 4 .Site.Data.popular_searches }} 
						<a href="/search={{ . }}/"><h4 class="lowercase">{{ . }}</h4></a>
						{{ end }}*/}}
					</div> -->
					<div class="column p-0 is-flex is-flex-direction-column">
						<div class="search-field-group is-flex is-flex-direction-column field is-grouped is-grouped-left">
							<p class="control">
								<input checked type="checkbox" name="site-search" id="site-search">
								<label id="exit-search" class="button is-medium" for="site-search">
									<span class="icon is-medium is-left">
										<span class="fa-solid fa-xmark"></span>
									</span>
								</label>
							</p>
							<p id="fastSearch" class="control is-expanded">
								<input id="searchInput" class="input is-medium" name="search-input" placeholder="search products" tabindex="0">
								<ul id="searchResults">
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>