
<nav class="shopping-bag">
	<div class="is-collapsable-shopping-bag is-flex is-flex-direction-column is-align-item-center">
		<button class="snipcart-checkout button shopping-bag-button is-red">
			<label class="shopping-bag-label" for="shopping-bag-menu">
				<span class="icon-text is-inline-block">
					<span class="icon">
						<span class="fa-solid fa-bag-shopping"></span>
					</span>
					<span class="is-hidden-mobile">bag</span>
					<span id="bag-count" class="snipcart-items-count"></span>
				</span>
			</label>
		</button>
		
		<!-- Snipcart -->
		<div hidden id="snipcart" 
		{{/* class="shopping-bag-container box columns is-mobile" */}}
		data-config-modal-style="side"
		data-api-key="MTQ5MzIxYzUtYzY0MC00MTg5LTg1ZWQtYzlmZTljYTQ5MzUwNjM3ODU2MzY5MTUzMTI4NTQ3"
		data-config-add-product-behavior="none">
			
			<!-- Sign Up Form -->
			<register-form>
				<div class="root">
					<authentication-view>
						<overridable name="register">
							<div class="snipcart__box snipcart-register__box snipcart-register">
								<h2 class="snipcart__font--subtitle snipcart-register__title">{{"{{ $localize('register_form.register')}}"}}</h2>
								<p class="snipcart__font snipcart-register__register">
									{{"{{ $localize('register_form.already_have_an_account')}}"}}
									<router-link class="snipcart__font--black snipcart-register__register-link" to="signin">
										{{"{{ $localize('signin_form.signin')}}"}}
									</router-link>
								</p>
					
								<snipcart-form @submit="save" class="snipcart-register__form">
									<flash-message v-if="requiresConfirmation"
										type="info"
										:title="$localize('register_form.requires_action.title')"
										:description="$localize('register_form.requires_action.description')">
									</flash-message>
					
									<snipcart-form-error></snipcart-form-error>
					
									<overridable name="register" section="top"></overridable>
									<div class="snipcart-form__field">
										<snipcart-label for="email">{{"{{ $localize('register_form.email')}}"}}</snipcart-label>
										<snipcart-input name="email" type="email" icon="user"></snipcart-input>
										<snipcart-field-error name="email"></snipcart-field-error>
									</div>
									<div class="snipcart-form__field">
										<snipcart-label for="password">{{"{{ $localize('register_form.password')}}"}}</snipcart-label>
										<snipcart-password name="password" icon="password"></snipcart-password>
										<snipcart-field-error name="password"></snipcart-field-error>
									</div>
									<div class="snipcart-form__field">
										<snipcart-label for="passwordConfirmation">{{"{{ $localize('register_form.confirm_password')}}"}}</snipcart-label>
										<snipcart-password name="passwordConfirmation" icon="password"></snipcart-password>
										<snipcart-field-error name="passwordConfirmation"></snipcart-field-error>
									</div>
					
									<overridable name="register" section="bottom"></overridable>
					
									<snipcart-submit
										label="register_form.register"
										icon="continue-arrow"
									></snipcart-submit>
								</snipcart-form>
							</div>
						</overridable>
					</authentication-view>
				</div>
			</register-form>
			
			<!-- Sign In Form -->
			<signin-form section="bottom">
				<div class="root">
					wow
				</div>
				
			</signin-form>
			
			
			<!-- Loading Screen -->
			<loading-screen>
				<div>
					<component :is="tag">
						<slot v-if="!loading"></slot>
						<div class="snipcart__loading__screen">
							<div :class="[
								'snipcart__loading__screen__content',
								displaySpinner ? 'is-visible' : null,
							]">
								<icon class="is-flex icon fa-solid fa-circle-notch fa-4x"></icon>
								<span class="snipcart__loading__screen__content__message ">
									<h4>{{"{{ localizedLoadingMessage }}"}}</h4>
								</span>
							</div>
						</div>
					</component>
				</div>
			</loading-screen>
			
			<!-- Close Side Cart Action -->
			<cart section="snipcart-cart__secondary-header">
				<div class="root">
					<icon
					alt="item.remove_item"
					class="fa-solid fa-xmark"
					></icon>
				</div>
			</cart>
			
			<!-- Empty Cart -->
			
			
			<!-- Cart Header -->
			<wow>
				<div class="">
					<header class="snipcart-cart-header is-mobile" v-if="!loading">
						<close-cart-action class="column pl-0 is-1-mobile is-4-tablet is-4-desktop has-text-left snipcart-cart-header__close-button snipcart-modal__close">
							<span class="icon">
								<span class="fa-solid fa-arrow-left-long"></span>
							</span>
							<span class="snipcart-modal__close-title snipcart__font--std">
								{{"{{ backButtonTitle || $localize('actions.continue_shopping') }}"}}
							</span>
						</close-cart-action>
					
						<media class="column is-flex is-flex-direction-column is-align-items-center is-justify-content-center pt-0 pb-0 is-5-mobile is-4-desktop" name="mobile, tablet, large" v-if="title">
							<div class="logo-cart image is-128x128">
								<figure class="p-5 m-0 full-height is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
									<a class="is-flex" href="/">
										{{ $resized_logo := $.Scratch.Get "resized_logo" }}
									<img class="logo" src="{{ $resized_logo.Permalink }}" alt="">
									</a>
								</figure>
							</div>
						</media>
					
						<div class="column is-flex is-6-mobile snipcart-cart-header__options">
							<sign-in-action tag="a" href="#/dashboard" class="snipcart-cart-header__option snipcart-cart-header__sign-in" v-if="showAccountMenu">
								<span class="icon-text is-inline-flex is-align-items-center">
									{{/*<span class="icon">
										<span class="fa-solid fa-user"></span>
									</span>*/}}
									<span>{{"{{ $localize('signin_form.signin')}}"}}</span>
								</span>
								
							</sign-in-action>
					
							<sign-out-action class="snipcart-cart-header__option snipcart-cart-header__sign-out" v-if="showAccountMenu">
								<icon name="sign-out" class="snipcart-cart-header__icon"></icon>
								{{"{{ $localize('customer_dashboard.sign_out')}}"}}
							</sign-out-action>
					
							<customer-account-link tag="a" href="#/dashboard" class="snipcart-cart-header__option snipcart-cart-header__customer-account" v-if="showAccountMenu && showAccountLink">
								<icon name="user" class="snipcart-cart-header__icon"></icon>
								{{"{{ $localize('customer_dashboard.my_account') }}"}}
							</customer-account-link>
					
							<show-detailed-cart-action class="snipcart-cart-header__option snipcart-cart-header__count snipcart__font--secondary snipcart__font--bold" v-if="showItemsCount">
								<span class="icon-text is-inline-flex is-align-items-center">
									<span class="icon">
										<span class="fa-solid fa-bag-shopping"></span>
									</span>
									<span>
										<template v-if="!hasSubscription">
											{{"{{ itemsCount }}"}}
										</template>
									</span>
								</span>
								
							</show-detailed-cart-action>
						</div>
					
						<media name="mobile, tablet" class="snipcart-modal__header-summary column is-flex pr-0 is-4-mobile is-justify-content-right" v-if="showSummary && !loading">
							<div class="snipcart-modal__header-summary-title snipcart__font--large snipcart__font--secondary snipcart__font--bold" @click.prevent="toggleSummary">
								<span class="bag-total-dropdown icon-text is-inline-flex is-align-items-center">
									<span class="icon">
										<span class="fa-solid fa-user"></span>
									</span>
									<span>{{"{{ cart.total | money(cart.currency) }}"}}</span>
								</span>
								<icon :name="summaryIcon" class="snipcart-cart-header__icon snipcart__icon--medium"></icon>
							</div>
					
							<cart-summary class="snipcart-cart-summary--small" v-if="summaryVisible" @close="closeSummary">
							</cart-summary>
						</media>
					</header>
					<header class="snipcart-cart-header" v-else>
						<close-cart-action class="snipcart-modal__close">
							<icon class="snipcart-modal__close-icon" name="back-arrow" />
							<span class="snipcart-modal__close-title snipcart__font--std">
								{{"{{ $localize('actions.continue_shopping') }}"}}
							</span>
						</close-cart-action>
					</header>
				</div>
			</wow>
			
			
			<!-- Cart Summary -->
			
			
			<!-- Item Line  -->
			
			
			
			
			
			<!-- Cart -->
			{{/*<cart>
				<div>
					<layout v-click-outside="clickedOutside">
						<overridable
							name="cart"
							section="header"
						>
							<cart-header
								title="header.title_cart_summary"
								:show-items-count="true"
								:show-account-menu="true"
								v-if="!editingCart"
							></cart-header>
						</overridable>
						<loading-screen
							message="cart.loading"
							class="snipcart-layout__content"
							:class="layoutContentCssClasses"
						>
							<div
								class="snipcart-cart__secondary-header"
								v-if="editingCart"
							>
								<h1 class="snipcart__font--secondary snipcart-cart__secondary-header-title snipcart__font--bold snipcart__font--xlarge">
									{{"{{ $localize(`header.title_cart_summary`) }}"}}
								</h1>
								<close-side-cart-action :is-cart-summary="!isSideCart">
									<icon
										name="plus"
										class="snipcart__icon--medium snipcart__icon--angled"
										alt="item.remove_item"
									></icon>
								</close-side-cart-action>
							</div>
							<flash-message
								class="snipcart-cart__flash-message"
								type="error"
								v-if="promptItemConfigurationError"
								:title="$localize(`errors.cart_items.${itemConfigurationErrorLocale}.title`)"
								:description="$localize(`errors.cart_items.${itemConfigurationErrorLocale}.description`)"
								icon="box"
							>
								<button-link
									label="actions.clear_cart"
									@click="clearCart"
								></button-link>
					
								<button-link
									label="actions.dismiss"
									@click="dismissItemConfigurationError"  
								></button-link>
							</flash-message>
							<overridable
								name="cart"
								v-if="hasItems"
							>
								<section class="snipcart-cart__content">
									<item-list
										item-template="item-line"
										class="snipcart-item-list--no-shadow"
										:show-description="!isSideCart"
									>
										<template
											v-slot:footer
											v-if="isSideCart && hasActiveDiscountsTriggerableByCode"
										>
											<li class="snipcart-item-line snipcart-item-line--cart-edit">
												<div class="snipcart-item-line__container">
													<discount-box class="snipcart-cart__discount-box"></discount-box>
												</div>
											</li>
										</template>
									</item-list>
									<div class="snipcart-cart__footer">
										<div class="snipcart-cart__footer-col cart__footer-discount-box snipcart-cart__actions">
											<discount-box
												v-if="!isSideCart && hasActiveDiscountsTriggerableByCode"
												class="snipcart-cart__discount-box"
											></discount-box>
										</div>
					
										<div class="snipcart-cart__footer-col">
											<summary-fees
												class="snipcart-cart-summary-fees--reverse"
												:summary-data="summaryFeesProvider"
											>
												{{"{{ $localize('cart.shipping_taxes_calculated_at_checkout')}}"}}
											</summary-fees>
					
											<footer v-if="!editingCart || isSideCart" class="snipcart-cart__footer-buttons">
												<flash-message
													type="error"
													v-if="errors != null"
													title="$localize('errors.order_validation.custom_fields_validation.title')"
												>
													{{"{{ $localize('errors.order_validation.custom_fields_validation.description') }}"}}
												</flash-message>
												<!-- BUTTON: checkout -->
												<button-primary
													label="actions.checkout"
													icon="continue-arrow"
													:state="checkoutDisabled ? 'disabled' : undefined"
													@click="checkout"
												></button-primary>
												<button-link
													v-if="isSideCart"
													label="cart.view_detailed_cart"
													@click="viewDetailedCart"
												></button-link>
											</footer>
					
											<div class="snipcart-cart__featured-payment-methods-container">
												<featured-payment-methods v-if="!editingCart"></featured-payment-methods>
											</div>
										</div>
									</div>
								</section>
							</overridable>
							<empty-cart v-else=""></empty-cart>
						</loading-screen>
						<transition name="snipcart-transition--slide-in">
							<router-view />
						</transition>
					</layout>
				</div>
			</cart>*/}}
			
			<!-- Button Primary -->
			
			
			{{/*<div class="bag-controls">
				<input checked type="checkbox" name="shopping-bag" id="shopping-bag-menu">
				<label class="button box" for="shopping-bag-menu">
					<span class="icon">
						<span class="fa-solid fa-xmark"></span>
					</span>
				</label>
			</div>
			<div class="bag-items column box">	
				{{ partial "bag" . }}
			</div>
			<div class="column continue-checkout is-flex is-flex-direction-column is-align-items-flex-end">
				<div class="total-summary column has-text-right is-flex is-flex-direction-column is-align-items-flex-end is-justify-content-flex-end content">
					{{ partial "total-summary" . }}
				</div>
				{{ partial "continue-checkout" . }}
			</div>*/}}
		</div>
	</div>
</nav>
