
<nav class="shopping-bag">
	<div class="is-collapsible-shopping-bag is-flex is-flex-direction-column is-align-item-center">
		<button class="snipcart-checkout button is-rounded shopping-bag-button">
			<label class="shopping-bag-label" for="shopping-bag-menu">
				<span class="icon-text is-inline-block">
					<span class="icon">
						<span class="fa-solid fa-bag-shopping"></span>
					</span>
					<span class="is-hidden-mobile"><strong>bag</strong></span>
					<span id="bag-count" class="snipcart-items-count"></span>
				</span>
			</label>
		</button>
		
		<!-- Snipcart -->
		<div hidden id="snipcart" 
		{{/* class="shopping-bag-container box columns is-mobile" */}}
		data-config-modal-style="side"
		data-api-key="MTQ5MzIxYzUtYzY0MC00MTg5LTg1ZWQtYzlmZTljYTQ5MzUwNjM3ODU2MzY5MTUzMTI4NTQ3"
		data-config-add-product-behavior="none">
			
		
		</div>
	</div>
</nav>
