{{ $.Scratch.Set "product-id" .File.ContentBaseName }}
{{ $.Scratch.Set "product-name" .Title }}
{{ $.Scratch.Set "product-url" .Permalink }}

<h6>size:</h6>
<div id="select-size" class="buttons">
{{ if eq .Params.product_type "hat" }}
{{ range $.Params.sizes }}
		{{ $size := .size }}
		{{ $stock := .stock }}
		
		{{ if gt $stock 0 }}
		<input
		required
		onclick="display()"
		autocomplete="off"
		type="radio"
		value="{{ $size }}"
		name="select-size"
		id="{{ $size }}"
		class="is-hidden">
			<label class="button box fit-content is-flex is-flex-direction-column" value="{{ $size }}" for="{{ $size }}">
			{{ $size }}
			</label>
		{{ else }}
		<input
		id="size-unavailable"
		type="radio"
		disabled
		class="is-hidden">
		<label disabled class="button box fit-content is-flex is-flex-direction-column" for="size-unavailable">
			{{ $size }}
		</label>
		{{ end }}
{{ end }}
{{ else }}

	{{ with $size_catalog := dict "xxxs" "2-4" "xxs" "6-8" "xs" "10-12" "s" "14-16" "m" "18-20" "l" "22-24" "xl" "26-28" "xxl" "30-32" "xxxl" "34-36" }}

		{{ range $.Params.sizes }}
			{{ $size := .size }}
			{{ $stock := .stock }}
			{{ if gt $stock 0 }}
			<input
			required
			onclick="display()"
			autocomplete="off"
			type="radio"
			value="{{ $size }}"
			name="select-size"
			id="{{ $size }}"
			class="is-hidden">
				<label class="button box fit-content is-flex is-flex-direction-column" value="{{ $size }}" for="{{ $size }}">
				{{ if eq "xxxs" $size }}
					<p>{{ index $size_catalog "xxxs" }}</p>
				{{ $size }}
				{{ else if eq "xxs" $size }}
				<p>{{ index $size_catalog "xxs" }}</p>
				{{ $size }}
				{{ else if eq "xxs" $size }}
				<p>{{ index $size_catalog "xxs" }}</p>
				{{ $size }}
				{{ else if eq "xs" $size }}
				<p>{{ index $size_catalog "xs" }}</p>
				{{ $size }}
				{{ else if eq "s" $size }}
				<p>{{ index $size_catalog "s" }}</p>
				{{ $size }}
				{{ else if eq "m" $size }}
				<p>{{ index $size_catalog "m" }}</p>
				{{ $size }}
				{{ else if eq "l" $size }}
				<p>{{ index $size_catalog "l" }}</p>
				{{ $size }}
				{{ else if eq "xl" $size }}
				<p>{{ index $size_catalog "xl" }}</p>
				{{ $size }}
				{{ else if eq "xxl" $size }}
				<p>{{ index $size_catalog "xxl" }}</p>
				{{ $size }}
				{{ else if eq "xxxl" $size }}
				<p>{{ index $size_catalog "xxxl" }}</p>
				{{ $size }}
				{{ end }}
				</label>
			{{ else }}
			<input
			id="size-unavailable"
			type="radio"
			disabled
			class="is-hidden">
				<label disabled class="button box fit-content is-flex is-flex-direction-column" for="size-unavailable">
				{{ if eq "xxxs" $size }}
				<p>{{ index $size_catalog "xxxs" }}</p>
				{{ $size }}
				{{ else if eq "xxs" $size }}
				<p>{{ index $size_catalog "xxs" }}</p>
				{{ $size }}
				{{ else if eq "xxs" $size }}
				<p>{{ index $size_catalog "xxs" }}</p>
				{{ $size }}
				{{ else if eq "xs" $size }}
				<p>{{ index $size_catalog "xs" }}</p>
				{{ $size }}
				{{ else if eq "s" $size }}
				<p>{{ index $size_catalog "s" }}</p>
				{{ $size }}
				{{ else if eq "m" $size }}
				<p>{{ index $size_catalog "m" }}</p>
				{{ $size }}
				{{ else if eq "l" $size }}
				<p>{{ index $size_catalog "l" }}</p>
				{{ $size }}
				{{ else if eq "xl" $size }}
				<p>{{ index $size_catalog "xl" }}</p>
				{{ $size }}
				{{ else if eq "xxl" $size }}
				<p>{{ index $size_catalog "xxl" }}</p>
				{{ $size }}
				{{ else if eq "xxxl" $size }}
				<p>{{ index $size_catalog "xxxl" }}</p>
				{{ $size }}
				{{ end }}
				
				</label>
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

</div>

<script>
	
function display() {
	var checkRadio = document.querySelector(
		'input[name="select-size"]:checked');
	
	if(checkRadio != null) {
		document.querySelector('#add-to-bag').disabled = false;
		const user = document.querySelector("[data-item-custom1-value]");
		user.setAttribute('data-item-custom1-value', checkRadio.value);
	}
}

</script>