{{ $feature := (resources.Get .Site.Data.spotlight_sizes.image).Resize "800x q80" }}

{{ with .Site.Data.spotlight_sizes }}

<section id="spotlight-sizes" class="section is-medium">
	<a class="" href="{{ .link }}">
		<div class="columns is-vcentered is-flex-direction-row-reverse">
			<div class="column content p-6 is-full-mobile is-6-tablet is-7-desktop is-size-6-mobile is-size-5-tablet is-size-4-desktop">
				<h1 class="mb-5">{{ .cta }}</h1>
				<p class="has-text-black">{{ .cta_subtitle }}</p>
				<button class="button fit-content-w box is-medium is-black" href="/sale">{{ .cta_button }}</button>
			</div>
			<div class="column is-full-mobile is-6-tablet is-6-desktop is-size-6-mobile is-size-5-tablet is-size-4-desktop">
				<figure class="image left-hero-feature is-fullwidth">
					<img class="is-rounded lazyload" data-src="{{ $feature.Permalink }}" src="{{ $feature.Permalink }}" alt="{{ .alt }}">
				</figure>
			</div>
		</div>
	</a>
</section>

{{ end }}