<section id="the-latest" class="hero is-medium ">
	<div class="hero-body is-flex-direction-column">
		<div class="container is-fluid">
			<div class="content-container content no-h1-mt is-flex is-flex-direction-column is-justify-content-center is-size-4-mobile is-size-3-tablet is-size-3-desktop">

				<h1>{{ .Site.Data.the_latest.cta }}</h1>

			</div>
			<div class="product-grid columns is-variable is-2-mobile is-2-tablet is-3-desktop is-multiline ">

				{{ $page_range := .Scratch.Get "page_range" }}

				{{ range first 5 (where .Site.RegularPages "Section" "product" ).ByDate.Reverse }}

				<div id="{{ .File.ContentBaseName }}" class="grid-product-container column is-half-mobile is-4-tablet is-3-desktop is-2-fullhd">
					<div class="tile is-ancestor">
						<div class="tile is-parent p-0">
							<div class="tile is-child is-article">
								<div class="content-container content no-h1-mt is-flex is-flex-direction-column is-justify-content-flex-end is-size-7">
									<div class="product-in-list">
										<div class="is-flex is-justify-content-flex-end">
											{{ partial "love-button" . }}
										</div>
										<a href="{{ .Permalink }}">

											{{ $image_color := "#753232" }}
											{{ $article := .Resources.GetMatch "**.png" }}
											{{ $main_alt := .Params.main_alt }}
											{{ $.Scratch.Set "alt" $main_alt }}
											{{ with $article }}
											{{ $resized := $article.Resize "300x center q70" }}
											<figure>
												<img class="lazyload" data-src="{{ $resized.Permalink }}" src="{{ $resized.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
											</figure>
											{{ end }}
										</a>
									</div>
									<div class="half-height">
										{{ partial "price" . }}
										<a href="{{ .Permalink }}">
											<h2>{{ .Title }}</h2>
										</a>
										{{ partial "type" . }}

										{{ partial "colors-sizes-available" (dict "page_range" ($page_range) "product_title" .Title) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{ end }}
				{{ with .Site.Data.the_latest }}
				<div class="column is-half-mobile is-4-tablet is-3-desktop is-2-fullhd">
					<div class="tile is-ancestor">
						<div class="tile is-parent">

							<a href="/product" class="box tile is-child is-article">
								<div class="content-container content no-h1-mt is-flex is-flex-direction-column is-justify-content-flex-end is-size-6-mobile is-size-6-tablet is-size-4-desktop">
									<span class="icon is-medium">
										<span class="fa-solid fa-arrow-right fa-2x"></span>
									</span>
									<h2 class="mb-1">{{ .cta_button }}</h2>

								</div>
							</a>
						</div>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</div>
</section>