{{ $counter := .Scratch.Get "counter" }}

<body>
	<div class="is-flex is-flex-direction-row is-align-items-baseline is-justify-content-space-between">
		<h5>{{ .Params.product_type }}</h5>
		<div class="love-container">
			<input onclick="loveUnloveProduct({{ .File.ContentBaseName }})" type="checkbox" name="love" id="love-button-{{ .File.ContentBaseName }}">
			<label for="love-button-{{ .File.ContentBaseName }}">
				<a class="p-3 button love-button icon">
					<span class="fa-solid fa-heart"></span>
				</a>
			</label>
		</div>
	</div>
</body>