{{ define "main" }}

{{ $herobackground := resources.Get "image/product-background-hero.jpg" }}
{{ $resized_herobackground := $herobackground.Resize "2000x q75" }}

<body onpageshow="loadLovedProducts()">

{{ partial "navbar" . }}
<section class="wrapper-section">
<img class="background-cover" src="{{ $resized_herobackground.Permalink }}" alt="">
	<div class="section is-small">
		<div class="container">
			<div class="section-header content is-size-6-mobile is-size-5-tablet is-size-4-desktop mb-6">
			{{ .Content }}
			</div>
			<div class="control has-icons-left mb-5">
				<div class="select is-normal">
					<select id="sort-products">
						<option value="">sort</option>
						<option value="lowToHigh">low to high</option>
						<option value="highToLow">high to low</option>
					</select>
				</div>
				<span class="icon is-left">
					<span class="fa-solid fa-sort"></span>
				</span>
			</div>
			<div class="product-grid columns is-variable is-1-mobile is-3-tablet is-3-desktop is-multiline">
				{{ $counter := 0 }}
				{{ .Scratch.Set "counter" $counter }}
				{{ $on_sale :=  (where .Site.RegularPages "Params.sale_price" "lt" "Params.original_price") }}
				{{ range $on_sale }}
				{{ $counter = add $counter 1 }}
				{{ .Scratch.Set "counter" $counter }}
				
				<div id="{{ .File.ContentBaseName }}" class="grid-product-container column is-half-mobile is-half-tablet is-one-third-desktop">
					<div class="tile is-ancestor">
						<div class="tile is-parent">
							<div class="box tile is-child is-article">
								<div class="content no-h1-mt is-flex is-flex-direction-column is-justify-content-space-between is-size-7-mobile is-size-6-tablet is-size-6-desktop">
								
									<div class="product-in-list">
										{{ partial "type-love-button" . }}
										<a href="{{ .Permalink }}">
										<h1>{{ .Title }}</h1>
										{{ $img := .Params.img }}
										
										{{ $article := .Resources.GetMatch $img }}
										{{ $main_alt := .Params.main_alt }}
										{{ $.Scratch.Set "alt" $main_alt }}
										{{ with $article }}
										{{ $resized := $article.Resize "500x center q75" }}
										<figure>
											<img class="lazyload" data-src="{{ $resized.Permalink }}" src="{{ $resized.Permalink }}" alt="{{ $.Scratch.Get "alt" }}">
										</figure>
										{{ end }}
										</a>
									</div>
								
									<div>
									{{ partial "price" . }}
									{{ partial "product-color-sizes-available" . }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ partial "footer" . }}
</body>
{{ end }}

