{{ define "main" }}

<body>
	<section class="section is-medium vh-75">
		<div class="container content">
			<div class="columns">
				<div class="column is-4">
					<div class="mb-5 is-size-6-mobile is-size-5-tablet is-size-4-desktop">
						<h1>{{ .Title }}</h1>
						<p>{{ .Params.subtitle }}</p>
					</div>
				</div>
				<div class="column">
					<div class="tile is-ancestor">
						<div class="tile is-parent">
							<div class="box tile is-child is-privacy">
								<div class="is-size-7-mobile is-size-6-tablet is-size-6-desktop">
									{{ .Content }}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
{{ end }}