{{ define "main" }}

<body>
	<section class="section is-medium vh-75">
		<div class="container content">
			<div class="columns is-variable is-6">
				<div class="column is-size-6-mobile is-size-5-tablet is-size-4-desktop">
					<div class="mb-5 ">
						<h1>{{ .Title }}</h1>
						<p>{{ .Params.subtitle }}</p>
					</div>
				</div>
				<div class="column is-8-desktop">
					{{ $counter := 0 }}
					{{ range where .Pages "Section" "faq" }}
					
					<h2>{{ .CurrentSection.Title }}</h2>
					
					{{ range .RegularPages }}
					
					{{ $counter = add $counter 1 }}
					{{ .Scratch.Set "counter" $counter }}
					<div class="tile">
						<div class="tile is-child box is-faq">
							<div class="is-collapsable full-width">
								<input hidden type="checkbox" name="dropdown" id="faq-{{ $counter }}">
								<label tabindex="0" for="faq-{{ $counter }}">
									<span class="icon-text is-flex is-flex-wrap-nowrap full-width">
										<span class="w-96">
											<h4 id="{{ .File.BaseFileName }}">{{ .Title }}</h4>
										</span>
										<span class="icon">
											<span class="fa-solid fa-chevron-down"></span>
										</span>
									</span>
								</label>
								<div class="tags">
									{{ .Content }}
								</div>
							</div>
						</div>
					</div>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</section>
</body>
{{ end }}